@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  overflow-x: hidden;
  height: 100%;
}

body {
  min-height: 100dvh;
}

.allContainer {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  background: 
    linear-gradient(rgba(18, 16, 16, 0.9) 50%, rgba(0, 0, 0, 1) 50%), 
    linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  background-size: cover;
  background-size: 100% 2px;
}

.topContainer {
  display: flex;
  align-items: center;
  min-height: 12dvh;
  max-height: 12dvh;
  z-index: 10;
  margin-left: 10px;
  filter: blur(.2px);
}

@media screen {
  .allContainer {
    animation: scanlines infinite 55s linear;
  }
}

@keyframes scanlines {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -10px;
  }
}

.pathContainer {
  padding: 0px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

a {
  color: antiquewhite;
}

.mainPageContainer {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  background: rgba(255, 255, 255, 0.16);
  -webkit-backdrop-filter: blur(2.5px);
  backdrop-filter: blur(2.5px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: white;
  z-index: 2;
  margin-left: 16px;
  padding: 4px 4px 0px 0px;
  gap: 16px;
  box-shadow: 
    -1484px 0px 415px 0px rgba(0, 0, 0, 0.00), 
    -950px 0px 380px 0px rgba(0, 0, 0, 0.01), 
    -534px 0px 320px 0px rgba(0, 0, 0, 0.03), 
    -237px 0px 237px 0px rgba(0, 0, 0, 0.05), 
    -59px 0px 131px 0px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  overflow: hidden;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-content: center;
}

.navigationMenu {
  display: flex;
  flex-direction: row;
  width: max-content;
  gap: 16px;
  flex-shrink: 0;
}

.iconImage {
  height: auto;
}

@media (max-width: 767px) {
  .allContainer {
    background: rgba(18, 16, 16, 0.9);
    background-size: 100%;
  }

  .topContainer {
    min-height: 8dvh;
    max-height: 8dvh;
    margin: 0px;
  }

  .pathContainer {
    padding: 0px 4px;
  }

  .mainPageContainer {
    flex-direction: column;
    padding: 0px;
    margin-left: 0px;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
  }

  .navigationMenu {
    flex-direction: column;
  }

  .contentContainer {
    overflow: hidden;
  }
}
