body{
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', Roboto, sans-serif;
  max-height: 100vh;
  overflow: hidden;
}

.allContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* gap: 5vh; */
}

.topContainer {
  display: flex;
  position: relative;
  align-items: center;
  min-height: 12vh;
  max-height: 12vh;
  z-index: 2;
  background-color: white;
  /* margin: 0px 16px; */
  margin-left: 16px;
  padding: 0px 4px;
  box-shadow: -1484px 0px 415px 0px rgba(0, 0, 0, 0.00), -950px 0px 380px 0px rgba(0, 0, 0, 0.01), -534px 0px 320px 0px rgba(0, 0, 0, 0.03), -237px 0px 237px 0px rgba(0, 0, 0, 0.05), -59px 0px 131px 0px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

.terminal {
  position: absolute;
  display: flex;
  flex-shrink: 0;
  width: 100%;
  top: 11vh;
  bottom: calc(83vh - 84px);
  /* height: calc(7vh + 80px); */
  z-index: 1;
  background-color: rgba(0, 0, 0, 1);
  /* box-shadow: 0px 0px 32px 32px rgb(0, 0, 0, 1); */
}


.mainPageContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-grow: 1;
  background-color: white;
  z-index: 2;
  /* margin: 0px 16px; */
  margin-left: 16px;
  padding: 4px 4px;
  gap: 16px;
  box-shadow: -1484px 0px 415px 0px rgba(0, 0, 0, 0.00), -950px 0px 380px 0px rgba(0, 0, 0, 0.01), -534px 0px 320px 0px rgba(0, 0, 0, 0.03), -237px 0px 237px 0px rgba(0, 0, 0, 0.05), -59px 0px 131px 0px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

.navigationMenu {
  display: flex;
  flex-direction: row;
  width: max-content;
  gap: 16px;
}