.pathContainer {
  flex-shrink: 0;
  height: 4vh;
  z-index: 4;
  min-width: 80%;
  max-width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
  color: white;
  font-family: 'Consolas', Consolas, monospace;
  filter: blur(.2px);
}

.searchContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.pathPrefix {
  color: white;
}

.searchInput {
  border: none;
  outline: none;
  background: transparent;
  display: inline;
  width: 100%;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  caret-color: transparent;
}

.searchContainer::after {
  content: '';
  position: absolute;
  width: 9px;
  height: 1.1em;
  background-color: #fff;
  mix-blend-mode: difference;
  animation: blinkCursor 1s steps(2, start) infinite;
  top: 45%;
  left: calc(var(--cursor-position, 0px));
  transform: translateY(-50%);
}

@keyframes blinkCursor {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.searchResults {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 100%;
  left: var(--prefix-width, 0px);
  background-color: #343434;
  color: white;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
}

.searchResultItem {
  font-size: 0.9em;
  padding: 4px;
  cursor: pointer;
  transition: background-color 0.05s;
}

.searchResultItem:hover,
.active {
  background-color: rgba(255, 255, 255, 0.2);
}

.pathDisplay {
  color: #fff;
  display: inline;
}

.textMeasure {
  position: absolute;
  visibility: hidden;
  white-space: pre;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
}

@media (max-width: 767px) {
  .pathContainer {
    flex-shrink: 1;
    height: 5dvh;
  }
}